<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MeetBallLogin</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/Session/Login</string>
		<key>method</key>
		<string>POST</string>
		<key>apikey</key>
		<string>6FC455D3-6207-4112-9D71-005A6EF96422</string>
		<key>Content-Type</key>
		<string>application/json</string>
		<key>Accept</key>
		<string>application/json</string>
	</dict>
	<key>GetPhoneNumbers</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/AppUser/Browse/Phone/{sessionId}/?appUserId={appUserId}</string>
		<key>method</key>
		<string>GET</string>
	</dict>
	<key>GetSessionId</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/Session/GetSessionId?existingId=null&amp;appUserId={appUserId}&amp;apiKey={apikey}</string>
		<key>apikey</key>
		<string>6FC455D3-6207-4112-9D71-005A6EF96422</string>
		<key>method</key>
		<string>GET</string>
	</dict>
	<key>GetUserWithFacebookId</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/Session/FacebookLogin</string>
		<key>method</key>
		<string>POST</string>
		<key>facebookAppID</key>
		<string>227261170716834</string>
		<key>Content-Type</key>
		<string>application/json</string>
		<key>Accept</key>
		<string>application/json</string>
	</dict>
	<key>UpdatePassword</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/AppUser/Password?appUserId={appUserId}</string>
		<key>method</key>
		<string>POST</string>
		<key>Content-Type</key>
		<string>application/json</string>
		<key>Accept</key>
		<string>application/json</string>
	</dict>
	<key>CreateNewUser</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/AppUser</string>
		<key>method</key>
		<string>POST</string>
		<key>Content-Type</key>
		<string>application/json</string>
		<key>Accept</key>
		<string>application/json</string>
	</dict>
	<key>GetUpcomingMeetBalls</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/Meetball/Current/{sessionId}?appUserId={appUserId}</string>
		<key>method</key>
		<string>GET</string>
	</dict>
	<key>ResetPassword</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/AppUser/ResetPassword</string>
		<key>method</key>
		<string>POST</string>
		<key>Accept</key>
		<string>application/json</string>
		<key>Content-Type</key>
		<string>application/json</string>
	</dict>
	<key>GetMeetBallFriends</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/AppUser/Friend/{sessionId}?appUserId={appUserId}&amp;friendStatus=1</string>
		<key>method</key>
		<string>GET</string>
	</dict>
	<key>CreateNewMeetBall</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/Meetball/Complete/AutoAccept</string>
		<key>method</key>
		<string>POST</string>
		<key>Content-Type</key>
		<string>application/json</string>
		<key>Accept</key>
		<string>application/json</string>
	</dict>
	<key>AddInviteesToMeetBall</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/Meetball/Add/Invitees/AutoAccept</string>
		<key>method</key>
		<string>POST</string>
		<key>Content-Type</key>
		<string>application/json</string>
		<key>Accept</key>
		<string>application/json</string>
	</dict>
	<key>AddMeetBallComment</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/Meetball/Comment?meetballId={meetballId}</string>
		<key>method</key>
		<string>POST</string>
		<key>Content-Type</key>
		<string>application/json</string>
		<key>Accept</key>
		<string>application/json</string>
	</dict>
	<key>GetMeetBallComments</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/Meetball/Comment/{sessionId}?meetballId={meetballId}</string>
		<key>method</key>
		<string>GET</string>
	</dict>
	<key>GetAppUserByAppUserId</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/AppUser/AppUserId/{sessionId}?AppUserID={appUserId}</string>
		<key>method</key>
		<string>GET</string>
	</dict>
	<key>AssociateFacebookAcct</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/AppUser/Facebook/Associate</string>
		<key>method</key>
		<string>POST</string>
		<key>Content-Type</key>
		<string>application/json</string>
		<key>Accept</key>
		<string>application/json</string>
	</dict>
	<key>DisassociateFacebookAcct</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/AppUser/Facebook/Disassociate</string>
		<key>method</key>
		<string>POST</string>
		<key>Content-Type</key>
		<string>application/json</string>
		<key>Accept</key>
		<string>application/json</string>
	</dict>
	<key>GetIsHandleAvailable</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/AppUser/IsHandleAvailable/?handle={handle}&amp;firstName={firstName}&amp;lastName={lastName}&amp;email={email}</string>
		<key>method</key>
		<string>GET</string>
	</dict>
	<key>AddPhoneNumber</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/AppUser/Insert/Phone</string>
		<key>method</key>
		<string>POST</string>
		<key>Content-Type</key>
		<string>application/json</string>
		<key>Accept</key>
		<string>application/json</string>
	</dict>
	<key>UpdatePhoneNumber</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/AppUser/Update/Phone</string>
		<key>method</key>
		<string>POST</string>
		<key>Content-Type</key>
		<string>application/json</string>
		<key>Accept</key>
		<string>application/json</string>
	</dict>
	<key>UpdateUserDefaults</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/AppUser/Defaults/Update/{sessionId}</string>
		<key>method</key>
		<string>POST</string>
		<key>Content-Type</key>
		<string>application/json</string>
		<key>Accept</key>
		<string>application/json</string>
	</dict>
	<key>GetUserDefaults</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/AppUser/Defaults/{sessionId}</string>
		<key>method</key>
		<string>GET</string>
	</dict>
	<key>GetMeetBallInvitees</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/{version}/service.svc/json/Meetball/Response/{sessionId}?meetballId={meetballId}</string>
		<key>method</key>
		<string>GET</string>
	</dict>
</dict>
</plist>
