<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MeetBallLogin</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/2.0/service.svc/json/Session/Login</string>
		<key>method</key>
		<string>POST</string>
		<key>apikey</key>
		<string>43f1f673-959b-4abd-8619-027902a3a4a8</string>
		<key>Content-Type</key>
		<string>application/json</string>
		<key>Accept</key>
		<string>application/json</string>
	</dict>
	<key>GetPhoneNumbers</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/2.0/service.svc/json/AppUser/Browse/Phone/{sessionID}/?appUserId={appUserId}</string>
		<key>method</key>
		<string>GET</string>
	</dict>
	<key>GetSessionID</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/2.0/service.svc/json/Session/GetSessionId?existingId=null&amp;appUserId=-1&amp;apiKey=43f1f673-959b-4abd-8619-027902a3a4a8</string>
		<key>method</key>
		<string>GET</string>
	</dict>
	<key>GetUserWithFacebookId</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/2.0/service.svc/json/AppUser/Facebook/{sessionID}?firstName={firstName}&amp;lastName={lastName}&amp;facebookId={facebookID}&amp;email={email}&amp;accessToken={facebookAppID}</string>
		<key>method</key>
		<string>GET</string>
		<key>facebookAppID</key>
		<string>417231521721790</string>
	</dict>
	<key>UpdatePassword</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/2.0/service.svc/json/AppUser/Password?appUserId={appUserID}</string>
		<key>method</key>
		<string>POST</string>
		<key>Content-Type</key>
		<string>application/json</string>
		<key>Accept</key>
		<string>application/json</string>
	</dict>
	<key>CreateNewUser</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/2.0/service.svc/json/AppUser</string>
		<key>method</key>
		<string>POST</string>
		<key>Content-Type</key>
		<string>application/json</string>
		<key>Accept</key>
		<string>application/json</string>
	</dict>
	<key>GetUpcomingMeetBalls</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/2.0/service.svc/json/Meetball/Current/{sessionID}?appUserId={appUserID}</string>
		<key>method</key>
		<string>GET</string>
	</dict>
	<key>resetPassword</key>
	<dict>
		<key>URL</key>
		<string>http://wsdev.meetball.com/2.0/service.svc/json/AppUser/ResetPassword</string>
		<key>method</key>
		<string>POST</string>
		<key>Accept</key>
		<string>application/json</string>
		<key>Content-Type</key>
		<string>application/json</string>
	</dict>
</dict>
</plist>
