<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All in MBDataCommunicatorTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MeetBallApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Unit Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>340F3C8517EA119F00491CCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>343491D517CF914500C857F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>347BBD3117CCE92B00BE0E85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>347BBD5717CCE92B00BE0E85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
